@font-face {
	font-family: 'caFont';
	src: url('../assets/font.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}


html, body {
    width:100%;
    height:100%;
    margin:0;
    font-family: 'caFont', sans-serif;
}



p, div, button{
	font-family: 'caFont', sans-serif;
}

div.noSroll{
	overflow: hidden;
}


.wrapper {
    width:100%;
    height:100%;
}

.fullWrapper
{
	position:absolute;
	left: 0;
	width:100%;
	height:100%;
  	min-height:100%;/*for mozilla*/
}

.menu
{
	position: fixed;
	top:0;
	left:0;
	width: 100%;
	height:6vh;
	background-color:rgb(224, 224, 224);
	z-index:999;
}

.content
{
	position:absolute;
	top:5vh;
	left: 0;
	width:100%;
	height:95vh;
}

.fullScreenCover
{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	background-color: rgba(0, 0, 0, 0.5);
}


/*-------------------------*/
.fullVideo
{
	min-width: 100%;
	min-height:100%;

    overflow: hidden;
    display:block;
}

.fullImage
{
	min-width:100%;
	width:100%;
	height:100%;
	overflow-x:hidden;
	overflow-y:hidden;
}

/*-------------------------*/
/*Zindex*/
/*-------------------------*/
.imgZindex
{
	position:absolute;
	z-index: 15;	
}
.btnZindex
{
	position:absolute;
	z-index: 20;
}

.inputZindex
{
	position:absolute;
	z-index: 20;
}

.topVideo
{
	z-index:10;
}

.map
{
	background: -webkit-linear-gradient(white, white, rgb(175, 197, 231));
	background: -o-linear-gradient(white, white, rgb(175, 197, 231));
	background: -moz-linear-gradient(white, white, rgb(175, 197, 231));
	background: linear-gradient(white, white, rgb(175, 197, 231));
	z-index:9;
}

.userData
{
	background: -webkit-linear-gradient(white, white, rgb(175, 197, 231));
	background: -o-linear-gradient(white, white, rgb(175, 197, 231));
	background: -moz-linear-gradient(white, white, rgb(175, 197, 231));
	background: linear-gradient(white, white, rgb(175, 197, 231));
	z-index:8;
}

.info
{
	z-index:7;
}